<a href="https://colab.research.google.com/github/jeff10-04/jeff_DTSC3020_Fall2025/blob/main/assignment2_jdh0710.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Fruits list
fruits = ["Watermelon", "Apple", "Bannana"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['Watermelon', 'Apple', 'Bannana']
Watermelon
Apple
Bannana

In [2]:
# 2. Names list
names = ["Chris", "Chen", "Jack", "Ken"]
names[0] = "Reza"
print(names)

['Reza', 'Chen', 'Jack', 'Ken']

In [3]:
# 3. Vehicles list
vehicles = ["F1 Car", "Double Deck Bus", "Bike", "Bullet Train", "Camaro"]
vehicles.append("scooter")
print(vehicles)

['F1 Car', 'Double Deck Bus', 'Bike', 'Bullet Train', 'Camaro', 'scooter']

In [4]:
# 4. Foods list
foods = ["pizza", "burger", "pasta", "salad", "rice", "soup"]
foods.remove("salad")
print(foods)

['pizza', 'burger', 'pasta', 'rice', 'soup']

In [5]:
# 5. Cities list
cities = ["Baku", "Vegas", "Imola", "Sakuza"]
cities.sort()
print("Sorted:", cities)
cities.reverse()
print("Reversed:", cities)

Sorted: ['Baku', 'Imola', 'Sakuza', 'Vegas']
Reversed: ['Vegas', 'Sakuza', 'Imola', 'Baku']

In [6]:
# 6. Animals list with loop
animals = ["dog", "cat", "rabbit"]
for animal in animals:
    print(animal)

dog
cat
rabbit

In [7]:
# 7. Numbers multiplied by 2
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num * 2)

2
4
6
8
10

In [8]:
# 8. Friends list
friends = ["Ale", "Meg", "Andrea", "Viv", "Tabs", "Tom"]
print("First three:", friends[:3])
print("Last three:", friends[-3:])

First three: ['Ale', 'Meg', 'Andrea']
Last three: ['Viv', 'Tabs', 'Tom']

In [9]:
# 9. Range numbers 1â€“10
nums = list(range(1, 11))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# 10. Squares list comprehension
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]